@use "../abstracts/colors";

html {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  line-height: 1.6em;
  font-size: 1rem;
  @include large-and-up {
    font-size: 1.2rem;
  }
}

p {
  hyphens: none;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 2rem;
  font-weight: 700;
  margin-bottom: 1.2rem;
  line-height: 1.2;

  @include large-and-up {
    margin-top: 3rem;
  }

  @include medium-and-up {
    hyphens: none !important;
  }

}

h1 {
  margin-top: 0;
  text-transform: uppercase;
  font-size: 1.8rem;

  @include medium-and-up {
    font-size: 2.5rem;
    margin-bottom: 2rem;

  }

  @include large-and-up {
    font-size: 2.875rem;
    margin-bottom: 2.4rem;
  }

  @include x-large-and-up {
    font-size: 3.5rem;
  }
}

h2 {
  font-size: 1.625rem;

  @include medium-and-up {
    font-size: 2.125rem;
  }

  @include large-and-up {
    font-size: 2.25rem;
  }

  @include x-large-and-up {
    font-size: 2.375rem;
  }
}

h3 {
  font-size: 1.3rem;

  @include medium-and-up {
    font-size: 1.5rem;
  }

  @include large-and-up {
    font-size: 1.625rem;
  }

  @include x-large-and-up {
    font-size: 1.75rem;
  }
}

h4 {
  font-size: 1.125rem;

  @include medium-and-up {
    font-size: 1.25rem;
  }

  @include large-and-up {
    font-size: 1.375rem;
  }

  @include x-large-and-up {
    font-size: 1.5rem;
  }
}

.white-text {
  color: colors.$white;
}

a {
  color: colors.$light-green;
  text-decoration: none;
  font-weight: 700;

  &:hover {
    color: colors.$hover-green;
  }
}

.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important;
}
