@use "../abstracts/colors";

.wp-block-buttons {
  display: block;
  margin-top: 1em;

  .wp-block-button__link {
    border-radius: 0;
    font-size: 1rem;
    min-width: 10em;
    padding: 1em 2em;
    line-height: 1.5;
    box-shadow: none !important;
    color: white;
    text-decoration: none;
    cursor: pointer;
  }

  .wp-block-button {
    display: inline-flex !important;
    margin: 0;

    + .wp-block-button {
      margin-left: 1em;
    }

  &.is-style-cta {
    .wp-block-button__link {
      text-transform: uppercase;
      color: white !important;
      background-color: colors.$blood-orange;

      &:hover {
        color: white !important;
        background-color: colors.$hover-orange;
      }
    }
  }

  &.is-style-secondary {
    .wp-block-button__link {
      color: white !important;
      background-color: colors.$dark-blue;

      &:hover {
        color: white !important;
        background-color: darken(colors.$dark-blue, 5%);
      }
    }

    }
  }
}

.wp-block-embed {
  &.wp-embed-aspect-16-9 {
    margin: 0;
    position: relative;
    overflow: hidden;
    max-width: 100%;
    &:before{
      content: "";
      display: block;
      padding-top: 56.25%; // 9 / 16 * 100
    }

    iframe {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      text-align: center;
      width: 100%;
      height: 100%;
    }
  }

}
