@use "../abstracts/colors";
@use "../abstracts/variables";

.gpnl-notification {
  background: colors.$anthracite;
  color: white;
  font-weight: 400;
  padding: variables.$xlrg variables.$sm;

  a {
    color: colors.$light-green;
  }
}
