@use "../abstracts/colors";
@use "../abstracts/mixins";

.cookie-notice {
  background: colors.$anthracite;
  height: auto;
  flex-direction: column;

  div {
    color: white;
    margin-bottom: 32px;
    padding: 0;

    a {
      color: colors.$light-green;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  button.btn {
    background-color: colors.$blood-orange;
    height: 2.4rem;
    border-radius: .25rem;
    color: white;
    align-self: end;

    &:hover {
      background-color: colors.$hover-orange;
      outline: colors.$hover-orange;
      border: none;
    }
  }

  @include mixins.medium-and-up {
    width: 350px;
    bottom: 16px;
    right: 16px;
    left: auto;
    padding: 32px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .35);
  }
}
