@use "../abstracts/colors";

.site-footer {
  background: colors.$blue-4;
  border-top: 4px solid colors.$light-green;

  a {
    &:hover {
      color: colors.$blue-3 !important;
    }
  }

  ul li a svg {
    font-size: 3rem;
  }

  .copyright-text{
    margin: unset;
    width: 33.33333%; // GPI Override
  }
}
